body {
    margin: 0;
    padding: 0;
    background-color: hsl(210, 46%, 95%);
}

.main {
    height: 250px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media screen  and  (max-width: 500px) {
    .main {
        margin-top: 25%;
        width: auto;
        height: 100%;
        margin: 0 auto;
        margin-top: 25%;
    }
}

.box {
    height: 100%;
    width: 312.5px;
}

.images{
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
}


.text-box {
    background-color: #fff;
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 255px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
}

@media screen and (max-width: 500px){


    .box {
        width: 100%;
        height: 40%;
    }

    .images {
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        box-shadow: none;
    }

    .text-box {
        width: 100%;
        padding-top: 20px;
        background-color: #fff;
        position: static;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        box-shadow: none;
        height: 250px;
        padding-bottom: 30px;
    }


}

.heading {
    margin: 20px 20px;
    color:  hsl(217, 19%, 35%);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 500px) {

    .heading {
        margin-top: 0;
    }
}

.text-inside {
    margin: 20px 20px;
    color:  hsl(217, 19%, 35%);
    font-size: 13px;
    line-height: 1.3;
    font-family: Manrope, sans-serif;
    font-weight: 400;

}

@media screen and (max-width: 500px) {
    .text-inside {
        font-size: 13px;
        font-family: Manrope, sans-serif;
        line-height: 2;
        font-weight: 700;
        color: hsl(212, 23%, 69%);
    }
}
.writter {
    margin-top: 0;
    margin-left: 20px;
    color:  hsl(217, 19%, 35%);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 100%;
}

.avatar {
    margin-right: 10px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.name {
    width: 55%;
    margin-bottom: 0;
    float: left;
}

.date {
    margin-top: 0;
    width: 55%;
    font-weight: 400;
    float: left;
}

@media screen and  (max-width: 500px) {
    .date {
        font-size: 13px;
    }
}

.share {
    position: relative;
    float: right;
    display: flex;
    background-color: hsl(210, 46%, 95%);
    border-radius: 15px;
    height: 30px;
    width: 30px;
    bottom: 15px;
    right: 50px;

}

.share i{
    margin: auto;
    color: hsl(217, 19%, 35%);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @media screen and  (max-width: 500px) {
      .tooltip:hover .tooltiptext {
          visibility: hidden;
      }


  }

  .icon {
      margin: 0 5px;
  }